/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v19-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  
  /* ubuntu-500 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v19-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v19-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v19-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  
  /* ubuntu-700 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v19-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  
body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    min-width: 310px;
    max-width: 1117px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.page-header {
    align-items: center;
}

.page-header__logo {
    margin-right: 121px;
}

.page-header__site-nav-ul {
    display: flex;
}

.page-header__site-nav-li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 25,6;
    margin-right: 40px;
}



.page-header__site-nav-a {
    color: #4B5D68;
    text-decoration: none;
}

.page-header__site-nav-a:hover, .page-header__site-nav-a:active, .page-header__site-nav-a:focus {
    font-weight: 800px;
    color: #212353;
}

.page-about {
    margin-top: 145px;
}

.page-about__h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    color: #212353;
    width: 645px;
}

.page-about__p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    width: 380px;
    margin-top: 50px;
}

.page-about__button {
    display: block;
    width :170px;
    height: 60px;
    border-radius: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: white;
    background: #9C69E2;
    border: none;
    margin-top: 66px;
}

.page-about__img-wrapper {
    position: absolute;
}

.page-about__img {
    position: relative;
    left: 450px;
    bottom: -25px;
}

.page-learn-more {
    background: #F063B826;
    align-items: center;
    border-radius: 50px;
    margin-top: 99px;

}

.page-learn-more__h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}

.page-learn-more__p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 40px;
}

.page-features {
    margin-top: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-features__h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}

.page-features__p {
    width: 584px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 50px;
    margin-bottom: 100px;
}

.page-features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-features__li {
    display: flex;
    width: 442px;
    height: 358px;
    align-items: center;
}

.page-features__li:nth-child(1) {
    background: url("../img/feature-bg-1.png");
    background-repeat: no-repeat;
    margin-right: 150px;
    margin-bottom: 50px;
}

.page-features__li:nth-child(2) {
    background: url("../img/feature-bg-2.png");
    background-repeat: no-repeat;
}

.page-features__li:nth-child(3) {
    background: url("../img/feature-bg-3.png");
    background-repeat: no-repeat;
    margin-right: 150px;
    margin-bottom: 50px;
}

.page-features__li:nth-child(4) {
    background: url("../img/feature-bg-4.png"); 
    background-repeat: no-repeat;   
}

.page-features__img-wrapper {
    width: 180px;
}

.page-features__img {
    position: relative;
    left: -100px;
}

.page-features__description-wrapper {
    padding-right: 50px;
}

.page-features__h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    margin-bottom: 20px;
}

.page-features__description {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    width: 220px;
    margin-bottom: 20px;

}

.page-features_a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    position: relative;
    
}

.page-features_a:after {
    display: block;
    width: 25px;
    height: 20px;
    content: '';
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: -45px;
    top: 5px;
}

.page-testimonials {
    width: 1118px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 93px;
}

.page-testimonials__h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}

.page-testimonials__list {
    display: flex;
}

.page-testimonials__li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 330px;
    background: white;
    border: 1px solid #9C69E2;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 20px;
}

.page-testimonials__li-active {
    width: 645px;
}

.page-testimonials__description-wrapper {
    margin-top: 80px;
}

.page-testimonials__h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}

.page-testimonials__h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
}


.page-testimonials__p {
    font-family: 'Ubuntu', sans-serif;
    width: 180px;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

.page-testimonials__li-active .page-testimonials__p {
    width: 385px;
}

.page-footer {
    justify-content: space-around;
    padding-top: 170px;
}

.page-footer__company-name-wrapper {
    margin-bottom: 65px;
}

.page-footer__company-name {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
}

.page-footer__addresses {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.page-footer__home-address {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-bottom: 10px;
}

.page-footer__contact-info {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}

.page-footer__phone, .page-footer__email {
    text-decoration: none;
}

.page-footer__copyright {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 180%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
}

.page-footer__social-media-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}

.page-footer__icons-wrapper {
    display: flex;
    margin-top: 30px;
}


.page-footer__social-media-icon {
    width: 50px;
    height: 49px;
    background: #212353;
    opacity: 0.1;
    border-radius: 25px;
}